{:paths ["src"]
 :deps {mount/mount {:mvn/version "0.1.16"}
        ring/ring {:mvn/version "1.9.4"}
        org.clojure/java.jdbc {:mvn/version "0.7.12"}
        org.postgresql/postgresql {:mvn/version "42.2.16"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}}}
